@(message: String)(implicit request: RequestHeader)

@main(message) {
    <div id="stream"></div>

    <script type="text/javascript">
        function appendWikiMessage(data) {
            var p = document.createElement("p");
            var message = document.createTextNode(data.channel + " : " + data.page);
            p.appendChild(message);
            document.getElementById("stream").appendChild(p);
        }

        function connect(attempt) {
            var connectionAttempt = attempt;
            var wikiSocket = new WebSocket("@routes.ApplicationController.stream().webSocketURL()");

            wikiSocket.onmessage = function(event) {
                console.log(event);
                var data = JSON.parse(event.data);
                appendWikiMessage(data);
            };

            wikiSocket.onopen = function() {
                connectionAttempt = 1;
                wikiSocket.send("subscribe");
            };

            wikiSocket.onclose = function() {
                if (connectionAttempt <= 3) {
                    console.log("WARNING: Connection with the server lost, attempting to reconnect. Attempt number " + connectionAttempt);
                    setTimeout(function() {
                        connect(connectionAttempt + 1);
                    }, 5000);
                } else {
                    alert("The connection with the server was lost. Please try again later. Sorry about that.");
                }
            };
        }

        connect(1);
    </script>
}