@(title: String)

<!DOCTYPE html>

<html>
<head>
    <title>@title</title>
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
    <link rel="stylesheet" media="screen" href="@routes.WebJarAssets.at(WebJarAssets.locate("bootstrap.min.css"))">
    <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">

    <script type='text/javascript' src='@routes.Assets.at("lib/angular/angular.min.js")'></script>
    <script type='text/javascript' src='@routes.Assets.at("lib/angular-websocket/angular-websocket.min.js")'></script>
    <script type='text/javascript' src="@routes.WebJarAssets.at(WebJarAssets.locate("angular-route.min.js"))"></script>
    <script type='text/javascript' src="@routes.Assets.at("javascripts/app.js")"></script>
    <script type='text/javascript' src="@routes.Assets.at("javascripts/services.js")"></script>
    <script type='text/javascript' src="@routes.Assets.at("javascripts/controllers.js")"></script>
</head>
<body ng-app="wikiWatch">
    <div ng-view></div>
</body>
</html>
