@(title: String)

<!DOCTYPE html>

<html>
<head>
    <title>@title</title>
    <link rel="stylesheet" media="screen" href="/assets/stylesheets/main.css">
    <link rel="shortcut icon" type="image/png" href="/assets/images/favicon.png">

    <link rel="stylesheet" media="screen" href="/assets/lib/bootstrap/css/bootstrap.min.css">
    <script type='text/javascript' src="/assets/lib/angular/angular.min.js"></script>
    <script type='text/javascript' src="/assets/lib/angular-websocket/angular-websocket.min.js"></script>
    <script type='text/javascript' src="/assets/lib/angularjs/angular-route.min.js"></script>

    <script type='text/javascript' src="/assets/javascripts/app.js"></script>
    <script type='text/javascript' src="/assets/javascripts/services.js"></script>
    <script type='text/javascript' src="/assets/javascripts/controllers.js"></script>
</head>
<body ng-app="wikiWatch">
    <div ng-view></div>
</body>
</html>
